.section-banner {
    min-height: 854px;
    position: relative;
    margin-bottom: 120px;
}
.section-banner .background-image, .section-banner .background-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 1396px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    overflow: hidden;
}
.section-banner .background-image img, .section-banner .background-video img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}
.section-banner .background-image video, .section-banner .background-video video, .section-banner .background-image iframe, .section-banner .background-video iframe {
    width: 150%;
    object-fit: cover;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-banner .background-image iframe, .section-banner .background-video iframe {
    min-width: 100%;
}
.section-banner .background-video:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.section-banner .container {
    z-index: 9;
    position: relative;
}
.section-banner .section-heading.text-center {
    margin: auto;
}
.section-banner .section-heading.text-end {
    margin-left: auto;
}
.section-banner .banner-social {
    position: absolute;
    bottom: 17px;
    right: 17px;
    border-radius: 12px;
    padding: 18px 16px;
    z-index: 9;
}
.section-banner .banner-social .social-icons {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 16px;
}
.section-banner .banner-social .social-icons__icons a {
    width: 19px;
    height: 19px;
}
.section-banner .banner-social .social-icons__icons a img, .section-banner .banner-social .social-icons__icons a svg {
    width: 100%;
}