.custom-banner-filter-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 0;
}

.custom-banner-filter-block .banner-title-wrapper input[type="text"],
.custom-banner-filter-block .banner-button-title input[type="text"],
.custom-banner-filter-block .banner-button-url input[type="text"] {
    width: 60%;
}

.custom-banner-filter-block .block-banner-label {
    display: flex;
    flex-direction: column;
}

.custom-banner-filter-block .banner-image-wrap {
    display: flex;
    gap: 16px;
    flex-direction: column;
}


.custom-banner-filter-block .banner-image-wrap button[type="button"] {
    width: max-content;
    font-size: 14px;
    padding: 4px 8px;
}