.filter-section {
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    min-width: 1107px;
    max-width: 1107px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    box-shadow: 2px 3px 58.7px 2px rgba(0, 0, 0, 0.25);
    z-index: 9;
    padding: 14px 27px;
}

.filter-section .filter-wrap {
    position: relative;
    gap: 35px;
}

.filter-section .filter-wrap .vertical-line {
    background: #dfdfdf;
    display: block;
    width: 1px;
    height: 62px;
}

.filter-section .filter-wrap .filter-element .form-label {
    color: #afafaf;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.154px;
    margin: 0;
}

.filter-section .filter-wrap .filter-element .dropdown {
    position: relative;
}

.filter-section .filter-wrap .filter-element .dropdown .button {
    background: none;
    border: none;
}

.filter-section .filter-wrap .filter-element .dropdown ul {
    padding: 0;
    margin: 0;
}

.filter-section .filter-wrap .filter-element .dropdown .dropdown-toggle:after {
    content: none;
}

.filter-section .filter-wrap .filter-element .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
}

.filter-section .filter-wrap .filter-element button, .filter-section .filter-wrap .filter-element input[type="text"] {
    padding: 3.5px 0;
    background: none;
    border: none;
    color: #1a1a1a;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.198px;
    height: auto;
    outline: none;
    box-shadow: none;
}

.filter-section .filter-wrap .filter-element .form-element-yacht button {
    width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-section .filter-wrap .filter-element input[type="text"]::placeholder {
    color: #1a1a1a;
}

.filter-section .filter-wrap .button-wrap {
    min-width: 161px;
    font-weight: 500;
    font-size: 18.19px;
    line-height: 27.28px;
    letter-spacing: -0.011em;
}

.filter-section .filter-wrap .button-wrap .btn {
    width: 100%;
    border-radius: 1136.65px;
    border: 1.14px solid rgba(185, 234, 255, 0.2);
    background-color: var(--primary-color);
    color: #1d2b46;
    padding: 12px 28px;
}

.filter-section .filter-wrap .button-wrap .btn.nofilter {
    pointer-events: none;
}