.filter-section {
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    min-width: 1107px;
    max-width: 1107px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    box-shadow: 2px 3px 58.7px 2px rgba(0, 0, 0, 0.25);
    z-index: 9;
    padding: 14px 27px;
    display: flex;
    flex-direction: row;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.filter-section .filter-wrap {
    position: relative;
    gap: 35px;
    display: flex;
    align-items: center;
}

.filter-section .filter-wrap .vertical-line {
    background: #dfdfdf;
    display: block;
    width: 1px;
    height: 62px;
}

.filter-section .filter-wrap .filter-element .form-label {
    color: #afafaf;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.154px;
    margin: 0;
}

.filter-section .filter-wrap .filter-element .dropdown {
    position: relative;
}

.filter-section .filter-wrap .filter-element .dropdown .button {
    background: none;
    border: none;
}

.filter-section .filter-wrap .filter-element .dropdown .dropdown-toggle:after {
    content: none;
}

/* select destination */
.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu {
    position: absolute;
    top: 100%;
    transform: translate(0, 55px) !important;
    inset: 0px auto auto -28px !important;
    border-radius: 24px;
    padding: 22px 18px 0;
}

.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu .dropdown-text {
    color: #afafaf;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu li:not(:last-of-type) {
    margin-bottom: 10px;
}

.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu .dropdown-item {
    color: #3c3c3c;
    border: 1px solid #f3f3f3;
    border-radius: 12px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    padding: 13px;
    display: flex;
    align-items: center;
}

.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu .dropdown-item.active {
    background-color: var(--primary-color);
}

.filter-section .filter-wrap .filter-element.filter-destination .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
}
/* select destination */

/* guests dropdown */
.filter-section .filter-wrap .filter-element.filter-guests .dropdown-menu {
    margin: 0;
    inset: 20px auto auto -36px !important;
    padding: 21px 18px;
}

.filter-section .filter-wrap .filter-element.filter-guests .dropdown .btn {
    width: 60px;
}

.filter-section .filter-wrap .filter-element.filter-guests .dropdown-menu {
    width: 307px;
}

.filter-section .filter-element.filter-guests .dropdown-menu .guest-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-section .filter-element.filter-guests .dropdown-menu .guest-dropdown:not(:last-of-type) {
    margin-bottom: 8px;
}

.filter-section .filter-element.filter-guests .dropdown-menu .guest-type {
    display: flex;
    flex-direction: column;
}

.filter-section .filter-element.filter-guests .dropdown-menu .guest-dropdown .plus-minus-counter label {
    display: flex;
    align-items: center;
}

.filter-section .filter-element.filter-guests .dropdown-menu .guest-dropdown .plus-minus-counter .btn {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 25px;
    padding: revert;
}

.filter-section .filter-element.filter-guests .guest-type .guest-type-title {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.filter-section .filter-element.filter-guests .guest-type .guest-type-count {
    color: #afafaf;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;

}
/* guests dropdown */

.filter-section .filter-wrap .filter-element button, .filter-section .filter-wrap .filter-element input[type="text"] {
    padding: 3.5px 0;
    background: none;
    border: none;
    color: #1a1a1a;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.198px;
    height: auto;
    outline: none;
    box-shadow: none;
}

/* yacht type */
.filter-section .filter-wrap .filter-element.filter-yacht .form-element-yacht button {
    width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
.filter-section .filter-wrap .filter-element.filter-yacht .dropdown-menu {
    position: absolute;
    top: 100%;
    transform: translate(0, 55px) !important;
    inset: -2px auto auto -28px !important;
    border-radius: 24px;
    padding: 22px 18px;
}

.filter-section .filter-wrap .filter-element.filter-yacht .dropdown-menu .dropdown-item {
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    padding: 0;
    background: transparent;
}

.filter-section .filter-wrap .filter-element.filter-yacht ul li:not(:last-of-type) .dropdown-item {
    margin-bottom: 12px;
}

.filter-section .filter-wrap .filter-element.filter-yacht .dropdown-item input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.filter-section .filter-wrap .filter-element.filter-yacht .dropdown-item input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}
/* yacht type */

.filter-section .filter-wrap .filter-element input[type="text"]::placeholder {
    color: #1a1a1a;
}

.filter-section .filter-wrap .button-wrap {
    min-width: 161px;
    font-weight: 500;
    font-size: 18.19px;
    line-height: 27.28px;
    letter-spacing: -0.011em;
}

.filter-section .filter-wrap .button-wrap .btn {
    width: 100%;
    border-radius: 1136.65px;
    border: 1.14px solid rgba(185, 234, 255, 0.2);
    background-color: var(--primary-color);
    color: #1d2b46;
    padding: 12px 28px;
}

.filter-section .filter-wrap .button-wrap .btn.nofilter {
    pointer-events: none;
}

.ytm-input-filter {
    display: none;
    position: absolute;
    bottom: -53px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 2px 3px 58.7px 2px #00000040;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: -0.011em;
    bottom: -20px;
}

.ytm-filter-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ytm-search-input {
    display: flex;
    align-items: center;
}

.ytm-input-filter .ytm-search-input .ytm-field-select {
    padding: 6.5px 16px 6.5px 37px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #666666;
    width: 310px;
    height: 40px;
}

.ytm-input-filter .ytm-search-input:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.89645 8.39645C8.09171 8.20118 8.40829 8.20118 8.60355 8.39645L10.8536 10.6464C11.0488 10.8417 11.0488 11.1583 10.8536 11.3536C10.6583 11.5488 10.3417 11.5488 10.1464 11.3536L7.89645 9.10355C7.70118 8.90829 7.70118 8.59171 7.89645 8.39645Z' fill='%23666666'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.73858 2.23858 0.5 5 0.5C7.76142 0.5 10 2.73858 10 5.5C10 8.26142 7.76142 10.5 5 10.5C2.23858 10.5 0 8.26142 0 5.5ZM5 1.5C2.79086 1.5 1 3.29086 1 5.5C1 7.70914 2.79086 9.5 5 9.5C7.20914 9.5 9 7.70914 9 5.5C9 3.29086 7.20914 1.5 5 1.5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    margin-left: 18px;
    /* left: 135px; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* left: 16px; */
}

/* media query */
@media (max-width: 1107px) {
    .filter-section {
        display: none;
        /* position: relative;
        min-width: auto;
        max-width: 28.5%;
        flex-direction: column;
        bottom: -27.7em;
        padding: 20px; */
    }

    .filter-section.open {
        display: flex;
    }

    .filter-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .filter-element {
        width: 100%;
    }

    .filter-section .filter-wrap .vertical-line {
        display: none;
    }

    .filter-section .filter-wrap .filter-mobile {
        display: none;
    }

    .button-wrap {
        text-align: center;
    }

    .filter-section .filter-wrap .button-wrap .btn {
        padding: 8px 18px;
    }
    
    .ytm-input-filter {
        display: block;
        /* align-items: center; */
        /* justify-content: center; */
        /* gap: 9px; */
    }
}
/* media query */
