.single-yacht .yacht-single-banner .single-about {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #a8a8a8;
    margin-bottom: 24px;
}

.single-yacht .yacht-single-banner .single-heading {
    font-weight: 400;
    font-size: 84px;
    line-height: 68.88px;
    letter-spacing: -0.011em;
    color: #323232;
    margin: 0 auto 24px;
}

.single-yacht .yacht-heading-main .yacht-heading-builts {
    /* .yacht-heading-builts { */
    display: flex;
    gap: 48px;
}

.single-yacht .yacht-heading-main .yacht-heading-region {
    display: flex;
    gap: 8px;
}

.single-yacht .yacht-heading-main .yacht-heading-region span {
    border-radius: 100px;
    border: 1px solid #dfdfdf;
    padding: 6px 10px;
}

.single-yacht .yacht-heading-main .yacht-heading-link .btn {
    border-radius: 1136.65px;
    border: 1.14px solid rgba(185, 234, 255, 0.2);
    background-color: var(--primary-color);
    color: #1d2b46;
    padding: 12px 28px;
    /* width: 100%; */
}