.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.body-text {
    color: var(--body-text);
}

.cta-text {
    color: var(--cta-text);
}

.primary-bg {
    background-color: var(--primary-bg);
}

.secondary-bg {
    background-color: var(--secondary-bg);
}

.primary-line {
    color: var(--primary-line);
}

body {
    background-color: var(--primary-bg) !important;
    color: var(--body-text) !important;
}