/* Sidebar Container */
/* .sidebar-filter {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background: #fff;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
} */

.ytm-filter-main .ytm-filter-wrap .filter-main {
    background-color: #fff;
    padding: 24px 20px;
    border-radius: 18px;;
}

.ytm-filter-section .ytm-filter-sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element {
    padding: 12px;
    border: 1px solid #dfdfdf;
    border-radius: 12px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element input[type="text"] {
    border: none;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .form-label {
    margin-bottom: unset;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .input-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.011em;
    color: #1a1a1a;
    padding: unset;
    text-align: left;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .input-text::placeholder {
    color: #1a1a1a;
}
.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .form-label {
    color: #afafaf;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .btn {
    padding: unset;
    border: none;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .dropdown-toggle::after {
    content: none;
}

/* Make sure elements align properly */
.ytm-filter-element {
    /* display: flex;
    flex-direction: column; */
}

/* Style dropdowns */
.dropdown-menu {
    width: 100%;
}

/* submit button */
.ytm-filter-section .ytm-filter-sidebar .button-wrap {
    text-align: center;
    font-weight: 500;
    font-size: 18.19px;
    line-height: 27.28px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .button-wrap .btn {
    border-radius: 1136.65px;
    border: 1.14px solid rgba(185, 234, 255, 0.2);
    background-color: #b9eaff;
    color: #1d2b46;
    padding: 12px 28px;
    width: 100%;
}
/* submit button */

/* Media Query for Mobile */
@media (max-width: 768px) {
    /* .sidebar-filter {
        width: 100%;
        height: auto;
        position: relative;
    } */

    /* .filter-section .filter-wrap {
        flex-direction: column;
    } */
}