.ytm-filter-main .ytm-filter-wrap .filter-main {
    background-color: #fff;
    padding: 24px 20px;
    border-radius: 18px;
    box-shadow: 0px 4px 67.8px 0px rgba(0, 0, 0, 0.15);
}

.ytm-filter-section .ytm-filter-sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element {
    padding: 12px;
    border: 1px solid #dfdfdf;
    border-radius: 12px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element input[type="text"] {
    border: none;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .form-label {
    margin-bottom: unset;
}

/* search destinations */
.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu {
    /* inset: 12px auto auto -13px !important; */
    border-radius: 12px;
    padding: 22px 18px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu .dropdown-text {
    color: #afafaf;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu li:not(:last-of-type) {
    margin-bottom: 10px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu .dropdown-item {
    color: #3c3c3c;
    border: 1px solid #f3f3f3;
    border-radius: 12px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    padding: 13px;
    display: flex;
    align-items: center;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu .dropdown-item.active {
    background-color: var(--primary-color);
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
}
    
.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-destination ul li a:hover {
    background-color: var(--primary-color) !important;
}
/* search destinations */

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .input-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.011em;
    color: #1a1a1a;
    padding: unset;
    text-align: left;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .input-text::placeholder {
    color: #1a1a1a;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .form-label {
    color: #afafaf;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .btn {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: max-content;
    padding: unset;
    border: none;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element .dropdown-toggle::after {
    content: none;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.advanced-filters {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.advanced-filters .ytm-element-item {
    display: flex;
    align-items: center;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.advanced-filters .ytm-element-item::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64309 7.87957C3.77676 6.48421 2.44673 4.94937 1.7205 4.0865C1.4957 3.8194 1.42204 3.62392 1.37774 3.2796C1.22609 2.1006 1.15026 1.5111 1.49597 1.13055C1.84167 0.75 2.45303 0.75 3.67574 0.75H12.3243C13.547 0.75 14.1583 0.75 14.504 1.13055C14.8497 1.5111 14.7739 2.1006 14.6223 3.2796C14.578 3.62393 14.5043 3.8194 14.2795 4.0865C13.5522 4.95046 12.2196 6.48803 10.3494 7.88516C10.1802 8.01156 10.0687 8.21755 10.048 8.44605C9.86276 10.494 9.69192 11.6157 9.58559 12.1831C9.41394 13.0993 8.11487 13.6504 7.41951 14.1423C7.00554 14.435 6.50322 14.0865 6.44958 13.6334C6.34732 12.7696 6.1547 11.0148 5.94446 8.44605C5.92556 8.21545 5.81364 8.00706 5.64309 7.87957Z' stroke='%23141B34' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
  }

/* calender css */
.page-template-default .flatpickr-calendar {
    top: 1098px !important;
    left: 352px !important;
}

.flatpickr-calendar {
    border-radius: 24px !important;
    padding: 18px !important;
}

.flatpickr-months .flatpickr-prev-month, 
.flatpickr-months .flatpickr-next-month {
    top: 20px !important;
    padding: 0 4px !important;
    height: 30px !important;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 38px !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--primary-color) !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    left: 25px !important;
}

.flatpickr-calendar .dayContainer .flatpickr-day:hover,
.flatpickr-calendar .dayContainer .flatpickr-day.selected {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #000;
}
/* calender css */

/* add guest */
.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .dropdown-menu {
    width: 307px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .dropdown-menu .guest-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .dropdown-menu .guest-dropdown:not(:last-of-type) {
    margin-bottom: 8px;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .dropdown-menu .guest-type {
    display: flex;
    flex-direction: column;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .guest-dropdown .plus-minus-counter label {
    display: flex;
    align-items: center;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .guest-dropdown .plus-minus-counter .btn {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 25px;
    padding: revert;
    color: #000000;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .guest-dropdown .plus-minus-counter .btn:hover {
    background: none;
    color: #000000;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .guest-type .guest-type-title {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .ytm-filter-element.sidebar-guest .guest-type .guest-type-count {
    color: #afafaf;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;

}
/* add guest */

/* select yacht */
.ytm-filter-sidebar .ytm-element-item .form-element-yacht .dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 0; /* Changed from 'unset' to '0' */
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    background-color: transparent;
}
.ytm-filter-sidebar .ytm-element-item .form-element-yacht .dropdown-item:active {
    background-color: transparent;
}

.ytm-filter-sidebar .ytm-element-item .form-element-yacht ul li:not(:last-of-type) .dropdown-item {
    margin-bottom: 12px;
}

.ytm-filter-sidebar .ytm-element-item .form-element-yacht .dropdown-menu {
    padding: 20px 18px;
}

.ytm-element-item .form-element-yacht .dropdown-item input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}



.ytm-element-item .form-element-yacht .dropdown-item input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}
/* select yacht */

/* submit button */
.ytm-filter-section .ytm-filter-sidebar .button-wrap {
    text-align: center;
    font-weight: 500;
    font-size: 18.19px;
    line-height: 27.28px;
    letter-spacing: -0.011em;
}

.ytm-filter-section .ytm-filter-sidebar .button-wrap .btn {
    border-radius: 1136.65px;
    border: 1.14px solid rgba(185, 234, 255, 0.2);
    background-color: var(--primary-color);
    color: #1d2b46;
    padding: 12px 28px;
    width: 100%;
}
/* submit button */